@media (min-width:992px) and (max-width:1199px) {
    .home-it-section,
    .home-technical-section {
        min-height: 350px
    }
    .main-nav-section .navbar-nav li a {
        font-size: 13px;
        padding: 0 13px
    }
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section .navbar-nav li a {
        font-size: 12px;
        padding: 0 7px
    }
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section .dropdown-menu li a {
        line-height: 40px;
        padding: 0 15px
    }
    .top-contat .phone {
        padding: 10px 0 10px 18px;
        margin-left: 18px
    }
    .top-contat .head-text {
        font-size: 14px
    }
    .home-welcome-section {
        background-size: 500px 215px
    }
    .home-avensia-tech .list li {
        background: url(../images/icon/tick.png) 0 6px no-repeat
    }
    .home-avensia-tech .list li a {
        font-size: 16px
    }
    .home-it-section .con-box {
        width: 466px;
        padding: 55px 0
    }
    .home-technical-section .con-box {
        width: 466px;
        padding: 55px 0 55px 55px
    }
    .in-contact-section .contact-box {
        padding: 45px 35px 25px
    }
    .in-contact-section .contact-box .location .head {
        font-size: 14px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .top-contat .phone {
        padding: 10px 0 10px 18px;
        margin-left: 18px
    }
    .top-contat .head-text {
        font-size: 14px
    }
    .banner-sub-section {
        margin-top: -40px
    }
    .banner-sub-section .cont-box .head-style {
        font-size: 20px
    }
    .banner-sub-section .cont-box .sub-text {
        font-size: 13px
    }
    .sub-section-shadow {
        margin-top: -10px
    }
    .home-general-trading-section .trading-box .head-box .head-text {
        font-size: 17px
    }
    .home-general-trading-section .trading-box .head-box .small {
        font-size: 15px
    }
    .home-it-section,
    .home-technical-section {
        min-height: 290px
    }
    .home-facility-management .facility-box .head-box .head-text {
        font-size: 14px;
        text-transform: none;
        font-weight: 500
    }
    .home-facility-management .facility-box .head-box .small {
        font-size: 13px;
        text-transform: none
    }
}

@media (min-width:991px) {
    .main-nav-section ul li:hover>ul.dropdown-menu {
        display: block
    }
}

@media (max-width:991px) {
    .service-categories .collapse,
    .top-contat .mail {
        display: none
    }
    .header .head-middle-section {
        padding: 10px 0
    }
    .top-contat .phone {
        padding: 5px 0 5px 18px;
        margin-left: 18px
    }
    .top-contat .border-left {
        border-left: none;
        padding-left: 0;
        margin-left: 0
    }
    .main-nav-section .navbar-light .navbar-toggler {
        border: none;
        outline: 0
    }
    .main-nav-section .navbar-nav {
        background: #2c4cab
    }
    .main-nav-section .dropdown-menu,
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section .dropdown-menu {
        background: #3052b9
    }
    .main-nav-section .navbar-nav li a {
        font-size: 14px;
        line-height: 40px;
        border-bottom: 1px solid #3052b9
    }
    .main-nav-section .dropdown-menu li a {
        color: #FFF;
        border-bottom: 1px solid #365ac4
    }
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section {
        float: none
    }
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section .navbar-nav li a {
        line-height: 38px
    }
    .navbar-custom.top-nav-collapse .heder-fixed .main-nav-section .dropdown-menu li a {
        line-height: 40px;
        color: #FFF;
        border-bottom: 1px solid #365ac4
    }
    .home-welcome-section .welcome-cont-box {
        padding-right: 0
    }
    .home-welcome-section {
        background-size: 500px 215px
    }
    .home-it-section .con-box {
        width: 100%;
        padding: 35px 0 35px 40px;
        float: none
    }
    .home-technical-section .con-box {
        width: 100%;
        padding: 35px 30px 35px 40px
    }
    .home-avensia-tech .head-text {
        font-size: 22px;
        margin-bottom: 25px
    }
    .home-avensia-tech .list li {
        background: url(../images/icon/tick.png) 0 6px no-repeat;
        margin-bottom: 10px
    }
    .f-follows,
    .f-list,
    .in-about-section .img-box2 {
        margin-bottom: 30px
    }
    .home-avensia-tech .list li a {
        font-size: 15px
    }
    .in-about-section .img-box {
        margin-top: 30px
    }
    .in-about-section .grey-color{
        margin-bottom:30px;
    }
    .in-gallery-section {
        padding: 55px 30px
    }
}

@media (max-width:767px) {
    .top-contat .phone {
        padding: 5px 0 5px 18px;
        margin-left: 18px
    }
    .top-contat .head-text {
        font-size: 13px
    }
    .top-contat .small {
        font-size: 10px
    }
    .navbar-custom.top-nav-collapse .heder-fixed,
    .top-section .top-cont-left {
        display: none
    }
    .banner-sub-section {
        margin-top: 0;
        padding: 25px 0
    }
    .banner-sub-section .cont-box .head-style {
        font-size: 20px
    }
    .banner-sub-section .cont-box .sub-text {
        font-size: 13px
    }
    .sub-section-shadow {
        margin-top: 0
    }
    .home-welcome-section {
        min-height: 300px;
        padding: 0 0 30px
    }
    .home-it-section,
    .home-technical-section {
        min-height: auto
    }
    .in-about-section .main-cont-box .head-text {
        font-size: 30px
    }
    .in-about-section .main-cont-box .head-text2 {
        font-size: 25px
    }
    .service-cont-box .list-box ul {
        padding: 15px
    }
    .service-cont-box .list-box li {
        width: 100%
    }
}

@media (max-width:635px) {
    .header .head-middle-section .logo {
        width: 244px;
        margin: 0 auto;
        padding: 0 0 10px
    }
    .fixed-top .logo {
        width: 150px
    }
    .header .head-middle-section .col-sm-4,
    .header .head-middle-section .col-sm-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .top-contat {
        float: none;
        width: 333px;
        margin: 0 auto
    }
    .top-contat .phone {
        padding: 5px 0 5px 10px;
        margin-left: 10px
    }
    .top-contat .head-text {
        font-size: 13px
    }
}

@media (max-width:575px) {
    .banner-sub-section {
        margin-top: 0;
        padding: 25px 0 0
    }
    .banner-sub-section .cont-box {
        margin-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 30px
    }
    .banner-sub-section .boder-none {
        border-bottom: none
    }
    .banner-sub-section .boder-right {
        border-right: none
    }
    .home-welcome-section .welcome-cont-box .head-text {
        font-size: 30px
    }
    .main-head .head {
        font-size: 25px
    }
    .home-general-trading-section .trading-box .head-box .head-text {
        font-size: 17px
    }
    .home-general-trading-section .trading-box .head-box .small {
        font-size: 15px
    }
    .home-facility-management .facility-box .head-box .head-text {
        font-size: 16px
    }
    .in-contact-section .contact-box {
        padding: 30px 30px 25px
    }
    .in-contact-section .contact-box .location .sub-box {
        min-height: auto
    }
    .in-about-section .img-box::before{
        width:27px;
        height:200px;
    }
    .in-about-section .img-box::after{
        width:200px;
        height:27px;
    }
}

@media (max-width:370px) {
    .top-contat {
        display: none
    }
    .in-about-section .img-box::before{
        width:10px;
        height:100px;
    }
    .in-about-section .img-box::after{
        width:100px;
        height:10px;
    }
    .in-about-section .img-box{
        position:relative;
        padding:20px 10px 0px 20px;
    }
}